#app__galery {
  background-image: url("/images/galarey-top1.png");
  background-size: cover;
  border-radius: 15px;
}

@media screen and(max-width: 850px) {
  #app__galery {
    width: 100%;
    max-width: 100%;
    background-size: cover;
  }
}
