*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// *:focus {
//     // outline: ;
//     // outline-offset: ;
// }

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

img {
  display: flex;
  object-fit: cover; /* contain */
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1170px; // *
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem; // *
  padding-right: 3rem; // *
}

.footer {
  background-color: $black-color;
}
.footer__container {
}
.container {
}
.footer__top {
  position: relative;
  background-color: $peach-color;
  width: 100%;
  height: 290px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9.5rem;
  margin-top: -20rem;
}
.footer__top-item {
  color: $white-color;
  h2 {
    width: 100%;
    max-width: 300px;
  }
  p {
    width: 100%;
    max-width: 480px;
  }
}
.footer__bottom-link {
}
.footer__header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7rem;
  margin-bottom: 3rem;
  border-bottom: 2px solid $dark-grey-color;
  padding-bottom: 4rem;
}
.footer__designo-logo {
}
.footer__inner {
  display: flex;
  align-items: center;
  gap: 4.2rem;
}
.footer-list-link {
}
.footer__list-link-item {
  color: $white-color;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  height: 2rem;
}

.footer__list-link-item:after {
  display: block;
  content: "";
  border-bottom: 2px solid $white-color;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  height: 1rem;
}

.footer__list-link-item:hover:after {
  transform: scaleX(1);
}
.footer__list-link-item.fromRight:after {
  transform-origin: 100% 50%;
}
.footer__list-link-item.fromLeft:after {
  transform-origin: 0% 50%;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 7rem;
}
.footer__text {
  color: $white-color;
  opacity: 0.5;
}
.footer-text1 {
  font-weight: 500;
}
.footer-text2 {
}
.footer__contact-item {
}
.footer__contact-list {
  a {
    color: $white-color;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.62;
  }
}
.fotter__contact-icon {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
.footer__contact-icon-link {
}

@media screen and (max-width: 900px) {
  .footer__top {
    padding: 1rem;
  }
  .footer__top-item {
    p {
      width: 100%;
      max-width: 350px;
      margin-bottom: 3rem;
    }
  }
}
@media screen and (max-width: 850px) {
  .footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .footer__top-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      width: 100%;
      max-width: 350px;
      margin-bottom: 3rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .footer__header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
  }

  .footer__designo-logo {
    margin-bottom: 2rem;
    width: 100%;
    border-bottom: 2px solid $dark-grey-color;
    display: flex;
    justify-content: center;
    height: 7rem;
    margin-bottom: 3rem;
  }

  .footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
  }
}
